<h2>Listing Users</h2>

<%= if assigns[:online_users] do %>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= for {user_key, %{metas: metas}} <- assigns[:online_users] do %>
        <tr>
          <td><%= user_key %> (<%= length(metas) %>)</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>UUID</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for user <- @users do %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.uuid %></td>

      <td>
        <%= link "Show", to: Routes.live_path(@socket, UserLive.Show, user) %>
        <%= link "Edit", to: Routes.live_path(@socket, UserLive.Edit, user) %>
        <%= link "Delete", to: "#",
            phx_click: "delete_user",
            phx_value: user.id %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New User", to: Routes.live_path(@socket, UserLive.New) %></span>
