/* This file is for your main application css. */

/*@import "./phoenix.css";*/

/*font-family: 'Permanent Marker', cursive;
font-family: 'Open Sans', sans-serif;
*/
html, body {
  height: 100%;
}

body {
  background: radial-gradient(ellipse at center, rgba(33,112,21,0.8) 0%, rgba(8,38,4,0.8) 100%), url(/images/felt.png);
  background-attachment: fixed;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
}

a.header {
  position: relative;
  padding-left: 2.2em;
  display: block;
}

a.header:hover {
  text-decoration: none;
}

a.header .stack {
  position: absolute;
  left: 0.3em;
  top: 0.1em;
  font-size: 0.9em;
}

a.header {
  font-size: 6em;
}

a.header.small {
  font-size: 3em;
}

/* https://codepen.io/mandymichael/pen/xpLNeV */
.title {
  background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: 'Playfair Display', serif;
  position: relative;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}

.title:after {
  background: none;
  content: attr(data-heading);
  left: 0;
  top: 0;
  z-index: -1;
  position: absolute;
  text-shadow:
    -1px 0 1px #c6bb9f,
    0 1px 1px #c6bb9f,
    5px 5px 10px rgba(0, 0, 0, 0.4),
    -5px -5px 10px rgba(0, 0, 0, 0.4);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  /*background-color: #f5f5f5;*/
}

/* NAMETAG */

article, .lable-head, .label-name {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  overflow: hidden;
  margin-bottom: 3vw;
}
.vcard {
  width: 300px; height: 200px;
  background: linear-gradient(rgba(238, 0, 0, 0.8), rgba(208, 0, 0, 0.8)), url(/images/extra_clean_paper.png);
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0,0,0,.5), inset 0 0 20px rgba(0,0,0,.25);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.vcard div:first-child {
  height: 65px;
  padding-top: 5px;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2em;
}
h1, p {
  padding: 0; margin: 0;
}
h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
}
p {
  position: relative;
  top: -3px;
}
.fn {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.8)), url(/images/extra_clean_paper.png);
  height: 120px;
  text-align: center;
  padding-top: 5px;
}
.help-block {
  position: relative;
  bottom: 20px;
}
.given-name {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  font-weight: bold;
  line-height: 1em;
  border: none;
  overflow: hidden;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
  text-align: center;
  width: 100%;
  background: transparent;
}
.nickname {
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
}

.engraved {
  /*font-size: 100px;*/
  /*font-family: Futura;*/
  /*background-color: #666666;*/
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  /*text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;*/
  text-shadow: 0px 1px 0px rgba(255,255,255,.5);
 }

 h2.engraved {
  font-weight: bold;
  font-size: 3em;
  color: rgba(8,38,4,0.8);
 }

/* GAMES LIST */

ol.games {
  list-style-type: none;
  padding-inline-start: 0;
}

ol.games li {
  padding: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.8)), url(/images/extra_clean_paper.png);
  /*border: orange 5px solid;*/
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0,0,0,.5), inset 0 0 20px rgba(0,0,0,.25);
  margin-bottom: 1em;
  position: relative;
}

ol.games li .user {
  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 1em;
}

ol.games li .name {
  font-size: 2em;
}

ol.games li .controls {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Players list */
ul.players {
  list-style-type: none;
  padding-inline-start: 0;

  font-family: 'Permanent Marker', cursive;
  color: black;
  font-size: 1em;
}

ul.players li {
  display: inline-block;
  margin-right: 0.7em;
  margin-bottom: 1em;
  padding: 0.5em 0.5em 0.5em 2.5em;
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(200, 200, 200, 0.8)), url(/images/extra_clean_paper.png);
  border-radius: 0.3em;
  box-shadow: 1px 2px 5px rgba(0,0,0,.5), inset 0 0 20px rgba(0,0,0,.25);
  overflow: visible;
  position: relative;
}

ul.players li .user .stack{
  position: absolute;
  left: 0.3em;
  bottom: 0.1em;
}

ul.players li.offline {
  opacity: 0.5;
}

/* Fat stacks - positions totes tweaked by hand */

.stack {
  width: 1.9em;
  height: 2.2em;
  background-image: url(/images/stacks-horizontal.png);
  background-size: 950%;
  background-repeat: no-repeat;
  display: inline-block;
}

.stack.stack_0 {
  background-image: none;
}
.stack.stack_1 {
  background-position: -1% 0;
}
.stack.stack_2 {
  background-position: 11% 0;
}
.stack.stack_3 {
  background-position: 24% 0;
}
.stack.stack_4 {
  background-position: 37% 0;
}
.stack.stack_5 {
  background-position: 49% 0;
}
.stack.stack_6 {
  background-position: 62% 0;
}
.stack.stack_7 {
  background-position: 74.5% 0;
}
.stack.stack_8 {
  background-position: 87% 0;
}
.stack.stack_9 {
  background-position: 99% 0;
}

/* Game state and timer */

.game-state {
  font-size: 2.5em;
  text-align: center;
  background-color: rgba(20,20,20,0.2);
  border-radius: 1em;
  margin-bottom: 1em;
  box-shadow: 0px 1px 0px rgba(255,255,255,.5);
}

.game-state.fixed {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  width: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  z-index: 1000;
  background-color: #375d2f;
  background: radial-gradient(ellipse at center, rgba(15,55,6, 0.8) 0%, rgba(15,55,6, 0.8) 100%), url(/images/felt.png);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Question card */

.question {
  color: black;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 80%;
  min-height: 3em;
  padding: 24px;
  position: relative;
  width: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(220, 220, 220, 0.5)), url(/images/extra_clean_paper.png);
  margin-bottom: 4em;
}
.question:before, .question:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.question:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.question:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

.question .position {}
.question .text {
  font-size: 2em;
  margin-bottom: 1em;
}
.question .actual-answer {
  font-size: 2em;
}
.question .citation {
  margin-bottom: 2em;
}
.question .my-answer {
  margin-left: auto;
  margin-right: auto;
  padding: 0.1em;
  font-size: 2em;
}
.question .my-answer form #game_question_user_answer {
}
.question .my-answer .user-input {
  border: none;
  border-bottom: 2px dashed;
  font-family: 'Permanent Marker', cursive;
  text-align: right;
  display: inline-block;
  background-color: transparent;
  width: 6em;
  display: inline-block;
}
.question .my-answer .unit {
  display: inline-block;
}
.question .actual-answer {}
.question .citation {}

/* Answers table */

.answer-table {
/*  list-style-type: none;
  padding-inline-start: 0;
*/}

.answer-table .answer {}

.answer-table .value .text, .answer-table .value .unit {
  display: inline-block;
  font-size: 2em;
}
.answer-table .value .users {
  list-style-type: none;
  padding-inline-start: 0;
  font-size: 0.8em;
}

.answer-table .value .users li {
  display: inline;
}

.answer-table .value .users li::after {
  content: ", ";
}

.answer-table .value .users li:last-child::after {
    content: "";
}

.bank {
  position: relative;
  font-size: 2em;
  margin-bottom: 1em;
}

.bank .stack {
  position: absolute;
  left: 0.3em;
  bottom: 0.1em;
}

.bank .cash {
  padding-left: 2.5em;
}

.cash {
  position: relative;
  padding-left: 2em;
}

.cash .stack {
  position: absolute;
  bottom: 0.1em;
  left: -0.1em;
}

tr.rank.rank_1 {
  font-size: 2em;
}
tr.rank.rank_2 {
  font-size: 1.6em;
}
tr.rank.rank_3 {
  font-size: 1.3em;
}
